<h1>New restaurant</h1>

<%= simple_form_for @restaurants do |f| %>
  <%= f.input :name, placeholder: 'Chez Paul' %>
  <%= f.input :address, placeholder: 'rue de la patrie' %>
  <%= f.input :category, placeholder: 'french' %>
  <%= f.input :phone_number, placeholder: '01 20 04 03 22' %>
  <%= f.submit class:'btn btn-primary' %>
<% end %>

<%= link_to "Back to Restaurants", restaurants_path %>

