<h1> <%= @restaurants.name %> </h1>
<p> <%= @restaurants.address %> </p>
<p> <%= @restaurants.category %> </p>
<p> <%= @restaurants.phone_number %> </p>



<%= link_to "Back to Restaurants", restaurants_path %>
